@media screen and (max-width:1350px){
    #projects{
        #projectsprojects{
            flex-wrap: wrap;
            img{
                width: 45%;
            }
            img:last-child{
                margin-top: 40px;
            }
        }
    }
}

@media screen and (max-width:800px){
    #about{
        #bigchonk{
            div{
                p{
                    font-size: 17.5px;
                }
            }
        }
    }
    #projects{
        #projectsprojects{
            flex-wrap: wrap;
            img{
                width: 80%;
                margin-bottom: 40px;
            }
            img:last-child{
                margin-top: 0px;
            }
        }
    }
}

@media screen and (max-width:700px){
    #about{
        height: 1000px;
        #bigchonk{
            flex-wrap:wrap;
            div{
                img{
                    height: 40vh;
                    padding-bottom: 20px;
                }
                p{
                    font-size: 17.5px;
                    text-align: center;
                }
            }
        }
    }
}

@media screen and (max-width:600px){
    #skills{
        #mojiskillovi{
            flex-wrap: wrap;
            justify-content: space-around;
            .progress-bar{
                margin-left:7.5%;
                margin-right:7.5%;
            }
        }
    }
}

@media screen and (max-width:550px){
    #skills{
        #mojiskillovi{
            flex-wrap: wrap;
            justify-content: space-around;
            .progress-bar{
                margin-left:5%;
                margin-right:5%;
            }
        }
    }
}

@media screen and (max-width:500px){
    footer{
        height: 10vh;
        .icon{
            i{
                font-size: 30px;
            }
        }
    }
}

@media screen and (max-width:450px){
    header{
        #logo{
            img{
                width: 50px;
            }
        }
        nav{
            ul{
                li{
                    font-size: 15px;
                }
            }
        }
    }
    #skills{
        #mojiskillovi{
            flex-wrap: wrap;
            justify-content: space-around;
            .progress-bar{
                margin: 5%;
                width: 75px;
                height: 75px;
                font-size: 10px;
            }
        }
    }
}

@media screen and (max-width:400px){
    #about{
        height: 1150px;
        #bigchonk{
            flex-wrap:wrap;
            div{
                img{
                    height: 40vh;
                    padding-bottom: 20px;
                }
                p{
                    font-size: 17.5px;
                    text-align: center;
                }
            }
        }
    }
    footer{
        height: 10vh;
        .icon{
            i{
                font-size: 30px;
            }
        }
        #prava{
            font-size:10px;
        }
    }
    header{
        flex-wrap: wrap;
        height: 15vh;
    }
    @media screen and (max-width:350px){
        header{
            nav{
                ul{
                    a{
                        padding:10px;
                    }
                }
            }
        }
        footer{
            height: 10vh;
            .icon{
                i{
                    font-size: 20px;
                }
            }
            #prava{
                font-weight: 400;
                font-size:10px;
            }
        }
        #firstbackground{
            h1{
                font-size: 40px;
            }
        }
    }
}